{% extends 'Post/base.html' %} 

{% block content %} 

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h4>Account Settings</h4>
            </div>
            <div class="card-body">
          <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                  <label>Profile Image</label><br>
                  <img width="100" height="100" src="{{ user_profile.profileimg.url }}" alt="">
                  <input type="file" class="form-control" id="" name="image">
              </div>
              <div class="form-group">
                  <label>Bio</label>
                  <textarea class="form-control" name="bio">{{ user_profile.bio }}</textarea>
                </div>

              <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" name="location" value="{{ user_profile.location }}">
              </div>
              
            </div>
            <div class="card-footer text-right">
              <button class="btn btn-primary mr-1" type="submit">Save</button>
              <button class="btn btn-secondary" type=""><a href="{% url 'Post:home' %}">Cancel</a> </button>
            </div>
          </form>
          </div>
         
        </div>
      </div>
  </div>
</div>
</div>
</div>
</section>

{% endblock content %}